* {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    stroke: rgb(234, 1, 255);
    stroke-dasharray: 1100;
    stroke-width: 9;
    animation: spin infinite 4s alternate;
  }
}

@keyframes spin {
  from {
    /* transform: rotate(0deg); */
    /* stroke: blue; */
  }
  to {
    /* stroke-dashoffset: 50;
    stroke: yellow; */
    /* transform: rotate(360deg); */
    stroke-dashoffset: 1100;
  }
}

@media (prefers-reduced-motion: no-preference) {
  #Lfoot {
    stroke: rgb(0, 0, 0);
    stroke-dasharray: 1100;
    stroke-width: 9;
    animation: spin infinite 4s alternate;
  }
}

@keyframes spin {
  from {
    /* transform: rotate(0deg); */
    /* stroke: blue; */
  }
  to {
    /* stroke-dashoffset: 50;
    stroke: yellow; */
    /* transform: rotate(360deg); */
    stroke-dashoffset: 1100;
  }
}

.App-link {
  color: #ff74e1;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
