* {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    stroke: rgb(234, 1, 255);
    stroke-dasharray: 50;
    stroke-width: 4;
    animation: spin infinite 2s alternate;
  }
}

@keyframes spin {
  from {
    /* transform: rotate(0deg); */
    stroke: blue;
  }
  to {
    stroke-dashoffset: 50;
    stroke: yellow;
    /* transform: rotate(360deg); */
  }
}

.App-link {
  color: #ff74e1;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
