* {
  text-align: center;
}

.App-logo {
  fill: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    stroke: rgb(234, 1, 255);
    stroke-dasharray: 200;
    stroke-width: 2;
    animation: spin infinite 4s alternate;
  }
}

@keyframes spin {
  from {
    /* transform: rotate(0deg); */
    /* stroke: blue; */
  }
  to {
    /* stroke-dashoffset: 50;
    stroke: yellow; */
    /* transform: rotate(360deg); */
    stroke-width: 0.5;
    stroke-dashoffset: 1100;
    /* stroke: red; */
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  #Lfoot {

    stroke-dasharray: 1100;
    stroke-width: 3;
    animation: foot_spin infinite 4s alternate;
  }
}

@keyframes foot_spin {
  to {
    stroke: red;
    stroke-dashoffset: 1100;
    stroke-width: 0;
  }
} */

.App-link {
  color: #ff74e1;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
